body {
  margin: 0;
}

.main-container {
  background-color: #0073aa;
  min-height: calc( 100vh - 102px );
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%;
  max-width: 400px;
  color: #FFF;
}

h1 {
  margin: 0 0 1.5rem 0;
  font-weight: 200;
}

.form-group {
  width: 100%;
  padding: 10px 0;
}

label {
  display: block;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
}

button,
input[type=submit],
.btn {
  border: 1px solid #FFF;
  background-color: transparent;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.2rem;
  border-radius: 4px;
  color: #FFF;
  transition: all 0.3s;
}

button:hover,
button:focus,
button:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active,
.btn:hover,
.btn:focus,
.btn:active {
  border-color: #0073aa;
  color: #0073aa;
  background-color: #FFF;
}

input[type=checkbox] {
  display: inline-block;
  width: auto;
}

a {
  color: #FFF;
}

